{% extends '@App/layout.html.twig' %}

{% block content %}



    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Log in to continue to Symfony Demo</h1>

            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin" action="{{ path('login') }}" method="post">
                    <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required autofocus />
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required/>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    {% if error %}
                        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}


{% endblock %}
